In [1]:
%pip install numpy
%pip install pandas
%pip install matplotlib
%pip install seaborn

Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (1.20.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: numpy>=1.16.5 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: matplotlib in c:\programdata\anaconda3\lib\site-packages (3.3.4)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (8.2.0)
Requirement already satisfied: numpy>=1.15 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (1.20.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: seaborn in c:\programdata\anaconda3\lib\site-packages (0.11.1)
Requirement already satisfied: matplotlib>=2.2 in c:\programdata\anaconda3\lib\site-packages (from seaborn) (3.3.4)
Requirement already satisfied: pandas>=0.23 in c:\programdata\anaconda3\lib\site-packages (from seaborn) (1.2.4)
Requirement already satisfied: numpy>=1.15 in c:\programdata\anaconda3\lib\site-packages (from seaborn) (1.20.1)
Requirement already satisfied: scipy>=1.0 in c:\programdata\anaconda3\lib\site-packages (from seaborn) (1.6.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (8.2.0)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23->seaborn) (2021.1)
Note: you may need to restart the kernel to use updated packages.

In [169]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Problem Statement
How might we predict a country’s **protein supply per capita** through the analysis of social, environmental, and economic factors such as **GDP, temperature change, consumer prices, import and export quantity and production quantity**?

# Overall 7 steps Methodology for ML Project
Reference: [Google's 7 steps of ML](https://towardsdatascience.com/the-googles-7-steps-of-machine-learning-in-practice-a-tensorflow-example-for-structured-data-96ccbb707d77)

Step 1: [Gathering Data](#step1)    
Step 2: [Data Preparation](#step2)  
Step 3: [Choosing a model](#step3)  
Step 4: [Training](#step4)  
Step 5: [Evaluation](#step5)  
Step 6: [Parameter Tuning](#step6)  
Step 7: [Prediction](#step7)  

Step 0: [Model Improvements](#modelimp)

<a id='step1'></a>
# Step 1: Gathering Data (Copi from Math docs)
  
Our data is sourced from FAOstats \<insert link>  
  
Before selecting our predictor values, we first designed a persona for each of our statistics. This is done below in [Step 2: data preparation](#step2) through the use of graphs to map out potentially interesting characteristics of each country in relation to each predictor.  

We have summarized our findings in the table below:  
\<Insert table of persona in markdown>

<a id='step2'></a>
# Step 2: Data Preparation
1. Aggregation of data by countries (e.g averaging temperature changes, summing production/consumption over the year and averaging by population)
    * Ensure all data able to be compared fairly  
    

2. Rename all countries to a consistent naming scheme. This is just in case of different source materials.  


3. Preprocessing - Drop Null Rows and Missing Data
    * Save as new csv file, Data_aggregated.csv


4. Visualize data and relationships of protein supply against various X using seaborn and matplotlib using scatter plots
    * To check if there are any obvious relationships that can be seen
    * Persona Analysis by observing distribution of datas for each X


5. Normalize data with Z-normalization
    * Save as new csv, Data_norm.csv

In [170]:
def normalize_z(dfin):
    dfout = pd.DataFrame()
    mean = dfin.mean(axis=0) 
    std = dfin.std(axis=0)  
    dfout = ((dfin - mean)/std)
    return dfout

def get_features_targets(df, feature_names, target_names):
    df_feature = df[feature_names]
    df_target = df[target_names]
    return df_feature, df_target

def prepare_feature(df_feature):
    # this is to convert table of x independent variables to X matrix, hence first column is all ones as x_0=1
    np_feature = df_feature.to_numpy()
    np_m = np_feature.shape[0]
    if np_feature.ndim == 1: 
        np_feature = np_feature.reshape(np_m, 1)
    big_X = np.concatenate((np.ones((np_m, 1), dtype=float), np_feature), axis=1)
    return big_X

def prepare_target(df_target):
    # this is for the y dependent variable to be predicted
    np_target = df_target.to_numpy()
    return np_target

def predict(df_feature, beta):
    norm_feature = normalize_z(df_feature) 
    np_feature = prepare_feature(norm_feature) 
    y_hat = calc_linear(np_feature, beta)  
    return y_hat

def split_data(df_feature, df_target, random_state=None, test_size=0.5):
    # df.sample and df.drop can also do this 
    np.random.seed(random_state)
    
    df_feature_rows = df_feature.shape[0]
    df_target_rows = df_target.shape[0]
    
    df_feature_split = int(test_size * df_feature_rows)
    df_target_split = int(test_size * df_target_rows)
    
    df_feature_rando = np.random.choice(df_feature_rows, size=df_feature_rows, replace=False)  
    df_feature_test = df_feature.iloc[df_feature_rando[:df_feature_split]]   # split the randomized index and use to get values in the idx rows
    df_feature_train = df_feature.iloc[df_feature_rando[df_feature_split:]]
    
    df_target_test = df_target.iloc[df_feature_rando[:df_target_split]]
    df_target_train = df_target.iloc[df_feature_rando[df_target_split:]]
    
    return df_feature_train, df_feature_test, df_target_train, df_target_test

In [171]:
# Read CSVs
import os

csv_dir = os.path.join(os.getcwd(), "Datas", "Datas", "CSV")

# Population
df_pop = pd.read_csv(os.path.join(csv_dir, "population.csv"))

# Protein Supply per g per pax (y)
df_protein = pd.read_csv(os.path.join(csv_dir, "protein-supply.csv"))

# GDP per capita
df_gdp = pd.read_csv(os.path.join(csv_dir, "GDP_per_capita.csv"))

# Temperature change
df_temp = pd.read_csv(os.path.join(csv_dir, "temperature_change.csv"))

# Consumer prices
df_price = pd.read_csv(os.path.join(csv_dir, "consumer-prices.csv"))

# Import quantity
df_import = pd.read_csv(os.path.join(csv_dir, "import_quantity_raw.csv"))

# Export quantity
df_export = pd.read_csv(os.path.join(csv_dir, "export_quantity_raw.csv"))

# Production quantity
df_prod = pd.read_csv(os.path.join(csv_dir, "production_quantity.csv"))

In [172]:
# view data for preprocessing

# display(df_pop)
# display(df_import)
display(df_protein)
# display(df_gdp)
# df_pop["Value"].rename(df_pop["Area"])

,Product,Country,Year,Population,Production (t),production__tonnes__per_capita,Production per capita (kg),Yield (t/ha),Yield (kg/animal),Land Use (ha),...,other_uses__tonnes__per_capita,Other uses per capita (kg),Supply chain waste (t),waste_in_supply_chain__tonnes__per_capita,Supply chain waste per capita (kg),Food supply (kg per capita per year),Food supply (g per capita per day),Food supply (kcal per capita per day),Food supply (Protein g per capita per day),Food supply (Fat g per capita per day)
0,NaN,Afghanistan,1961,8790140,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3054.9053,86.492840,38.209236
1,NaN,Afghanistan,1962,8969055,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2973.2468,84.580055,38.335213
2,NaN,Afghanistan,1963,9157463,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2751.7795,78.657250,39.338820
3,NaN,Afghanistan,1964,9355510,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3013.4424,85.198880,39.747234
4,NaN,Afghanistan,1965,9565154,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3017.7600,85.612100,40.560085
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12216,NaN,Zimbabwe,2015,14154937,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1872.9144,42.347970,55.084568
12217,NaN,Zimbabwe,2016,14452705,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1899.7627,42.004463,58.332520
12218,NaN,Zimbabwe,2017,14751101,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1797.1061,42.225240,50.178062
12219,NaN,Zimbabwe,2018,15052191,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1798.6170,41.094800,50.533940
12220,NaN,Zimbabwe,2019,15354606,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1628.1118,36.444140,49.243946

In [174]:
# Aggregation of data by countries
# ---------------------------------

# Country Population per 1000
pop_series = df_pop["Value"].rename(df_pop["Area"])

# Mean of temperature change over months of 2019
# This dataset has more countries than the others
srs_temp_agg = df_temp.groupby("i")["Value"].mean()  # series with label as country

# Mean of Consumer Price Index over the year
srs_cpi_agg = df_price.groupby("Area")["Value"].mean()

# GDP per capita
srs_gdp_cap = pd.Series(data=df_gdp["Value"].values, index=df_gdp["Area"])

# Import Quantity in tonnes
srs_import_agg = df_import.groupby("Area")["Value"].sum()  # series


# Import Quantity in tonnes per 1000
srs_import_agg_1000 = srs_import_agg.divide(pop_series, axis=0)


# Export Quantity in tonnes
srs_export_agg = df_export.groupby("Area")["Value"].sum() 


# Export Quantity in tonnes per 1000
srs_export_agg_1000 = srs_export_agg.divide(pop_series, axis=0)


# Production Quantity in tonnes 
srs_prod_agg = df_prod.groupby("Area")["Value"].sum() 


# Production Quantity in tonnes per 1000
srs_prod_agg_1000 = srs_prod_agg.divide(pop_series, axis=0)


# Protein Supply per g per pax (y) 
# This dataset has more countries than the others
df_protein_agg = df_protein.loc[df_protein["Year"] == 2019]
# Need remove the (FAO) data as those are total for the whole continent
df_protein_agg = df_protein_agg.loc[~df_protein_agg["Country"].str.contains("FAO")]
srs_protein_agg = pd.Series(data=df_protein_agg["Food supply (Protein g per capita per day)"].values, index=df_protein_agg["Country"])

# Minor inconvience: If we check through protein-supply.csv, we see some countries that are misnamed/named on a different convention
# e.g "United States" instead of "United States of America" in the other data
# Check for list of missing names we need to replace
unique_country_names = srs_import_agg.index.append(srs_export_agg.index).append(srs_prod_agg.index).unique()
missing_names_mask = ~unique_country_names.isin(srs_protein_agg.index)
missing_names = unique_country_names[missing_names_mask]
print(missing_names)
# Now we can manually rename labels in srs_protein_agg that match the missing names using dictionary
srs_protein_agg.rename({"Taiwan": missing_names[0],
                        "South Korea": missing_names[1],
                        "United Kingdom": missing_names[3],
                        "United States": missing_names[4],
                        "Vietnam": missing_names[5]
                       }, inplace=True)
print(srs_protein_agg["Viet Nam"])

# Create new df with 12 columns including country
agg_data = [pop_series, srs_temp_agg, srs_cpi_agg, srs_gdp_cap, srs_import_agg, srs_export_agg, srs_prod_agg, srs_import_agg_1000, srs_export_agg_1000, srs_prod_agg_1000, srs_protein_agg]
col_headers = ["Country", "Population (per 1000)", "Temperature Change (degrees celsius)", "Consumer Price Index", "GDP per capita (USD millions)", "Import Quantity (tonnes)", "Export Quantity (tonnes)", "Production Quantity(tonnes)", "Import Quantity (tonnes per 1000 people)", "Export Quantity (tonnes per 1000 ppl)", "Production Quantity(tonnes per 1000 ppl)", "Protein Supply per g per pax (y)"]

df_aggregated = pd.concat(agg_data, axis=1)
df_aggregated = df_aggregated.reset_index()  # turn index which used to countries to its own column
df_aggregated = df_aggregated.replace(0, np.nan)  # to prepare to remove rows with 0.0 in data
df_aggregated = df_aggregated.dropna()  # remove rows/countries with incomplete data
df_aggregated.columns = col_headers
display(df_aggregated)

df_aggregated.to_csv("DDW Data/data_aggregated.csv", index=False)

Index(['China, Taiwan Province of', 'Republic of Korea', 'Singapore',
       'United Kingdom of Great Britain and Northern Ireland',
       'United States of America', 'Viet Nam'],
      dtype='object', name='Area')
88.84115

,Country,Population (per 1000),Temperature Change (degrees celsius),Consumer Price Index,GDP per capita (USD millions),Import Quantity (tonnes),Export Quantity (tonnes),Production Quantity(tonnes),Import Quantity (tonnes per 1000 people),Export Quantity (tonnes per 1000 ppl),Production Quantity(tonnes per 1000 ppl),Protein Supply per g per pax (y)
0,Afghanistan,37769.499,0.977167,115.988022,496.940553,53669.0,27.0,268273.0,1.420961,0.000715,7.102901,57.723488
1,Armenia,2820.602,1.904917,105.063042,4604.641377,64083.0,2086.0,107335.0,22.719618,0.739558,38.053933,98.883010
2,Australia,25357.170,1.499083,104.748284,54763.202388,275109.0,2495938.0,4818760.0,10.849357,98.431252,190.035402,107.283745
3,Bangladesh,165516.222,1.090083,125.605310,1846.416377,9326.0,71.0,707246.0,0.056345,0.000429,4.272971,60.414692
4,Belgium,11510.568,2.034917,106.583408,46388.205209,827415.0,1770220.0,1755460.0,71.883073,153.790847,152.508547,100.587840
5,Brazil,211782.878,1.578250,120.038862,8936.360101,61751.0,7559331.0,28578980.0,0.291577,35.693778,134.944714,93.485370
7,Canada,37522.584,1.242667,104.509242,46550.335507,709748.0,2068474.0,5114646.0,18.915222,55.126108,136.308470,108.227196
10,Colombia,50187.406,1.281250,120.441325,6424.979431,267765.0,27573.0,2900865.0,5.335303,0.549401,57.800656,72.939660
12,Croatia,4129.752,2.281000,103.325000,15070.610877,182208.0,62782.0,239861.0,44.120809,15.202366,58.081212,93.515686
13,Egypt,105618.671,1.022083,196.405120,3161.324684,728552.0,5673.0,2439520.0,6.897947,0.053712,23.097431,90.789450
14,El Salvador,6280.217,1.077250,101.280240,4167.729159,89794.0,2528.0,172494.0,14.297914,0.402534,27.466248,79.921940
15,Ethiopia,114120.594,1.361000,158.910627,825.865015,2524.0,18892.0,865454.0,0.022117,0.165544,7.583679,69.287880
16,Finland,5521.537,1.665917,101.047500,48585.483016,94754.0,71976.0,397560.0,17.160801,13.035501,72.001691,117.692560
17,France,64399.759,1.910917,106.185833,40516.996615,1632530.0,1477513.0,5425084.0,25.349940,22.942834,84.240750,110.974250
18,Germany,83148.141,2.322500,107.233333,46557.284069,2684097.0,4122412.0,7919216.0,32.280902,49.579124,95.242250,104.702420
19,Greece,10574.024,1.572833,100.386422,19587.057271,460028.0,63782.0,443905.0,43.505481,6.031952,41.980707,106.324356
21,Iceland,360.774,1.267250,105.178625,73319.963204,4826.0,4867.0,35179.0,13.376795,13.490440,97.509798,135.247830
22,India,1383112.050,0.799917,112.991575,2114.982134,1638.0,1226782.0,8139597.0,0.001184,0.886972,5.884987,64.087030
23,Indonesia,269582.878,1.039417,115.421900,4135.201528,307884.0,4630.0,4886833.0,1.142075,0.017175,18.127386,67.801340
24,Iraq,41563.520,1.666000,97.759932,5980.628489,215359.0,1747.0,245185.0,5.181443,0.042032,5.899043,52.542465
25,Ireland,4896.019,1.118083,94.030576,81745.514055,318478.0,1166345.0,1147379.0,65.048359,238.223136,234.349377,110.731980
26,Italy,59727.932,1.746750,104.133333,33185.489321,1690093.0,717436.0,3690036.0,28.296526,12.011733,61.780743,105.978836
27,Jamaica,2813.773,1.520417,120.296035,5369.492830,54036.0,2474.0,150586.0,19.204108,0.879246,53.517466,80.767380
28,Japan,125791.677,1.240833,104.666117,40586.234684,3690071.0,19407.0,4054681.0,29.334779,0.154279,32.233301,88.767530
29,Jordan,10698.683,1.401500,99.514653,4405.480596,136009.0,29059.0,255429.0,12.712686,2.716129,23.874808,60.166237
30,Kenya,50951.450,1.461500,134.733840,1912.623300,1629.0,18901.0,649070.0,0.031972,0.370961,12.738990,63.138590
31,Malaysia,32804.020,1.424250,111.486920,11414.290367,331150.0,67689.0,1926451.0,10.094799,2.063436,58.726065,75.511570
32,Myanmar,53040.212,1.619833,127.927255,1374.375238,5119.0,921.0,3355294.0,0.096512,0.017364,63.259438,99.418360
33,Nepal,28832.496,0.671250,118.703639,1197.825921,430.0,1972.0,406829.0,0.014914,0.068395,14.110086,74.319405
34,Netherlands,17363.262,2.108333,108.689167,53236.674668,2027363.0,4198273.0,3104744.0,116.761643,241.790569,178.811101,106.452170
35,Nigeria,203304.492,1.266667,178.323776,2361.206967,16226.0,8.0,1461010.0,0.079811,0.000039,7.186314,57.460793
36,Norway,5348.279,1.325250,106.275000,75389.622740,22776.0,9560.0,359072.0,4.258566,1.787491,67.137859,116.947790
37,Pakistan,223293.280,0.584667,119.701793,1168.643097,2768.0,81434.0,4505871.0,0.012396,0.364695,20.179161,64.050080
38,Philippines,110380.804,1.151917,114.163107,3485.342237,838130.0,6006.0,3368247.0,7.593078,0.054412,30.514790,63.921585
39,Portugal,10289.923,1.300167,103.105925,23467.879341,396805.0,127674.0,848320.0,38.562485,12.407673,82.441822,117.008600
40,Republic of Korea,51803.829,1.535667,108.770058,32234.507491,1483844.0,57983.0,2607165.0,28.643520,1.119280,50.327650,97.893820
42,South Africa,58087.055,1.634000,127.402517,6001.389576,654628.0,125413.0,3366710.0,11.269774,2.159052,57.959730,80.416730
43,Spain,47131.372,1.480833,105.417625,29806.208566,563936.0,3025857.0,7164132.0,11.965194,64.200486,152.003468,107.631790
44,Sri Lanka,21649.664,1.367917,115.330618,3938.847521,2303.0,1842.0,215021.0,0.106376,0.085082,9.931840,66.415690
45,Sweden,10267.922,1.734667,108.638600,53194.436877,401889.0,162734.0,547267.0,39.140247,15.848776,53.298710,105.658340
46,Switzerland,8575.588,2.091500,102.193892,85169.060062,105447.0,23107.0,475722.0,12.296183,2.694509,55.473980,97.334564
47,Thailand,71307.763,1.647833,104.383746,7817.008104,76628.0,1338137.0,2864676.0,1.074610,18.765657,40.173410,59.395348
48,United Arab Emirates,9211.657,1.253583,104.381818,42701.429934,1090397.0,303654.0,163591.0,118.371429,32.964102,17.759128,85.309680
49,United Kingdom of Great Britain and Northern I...,66778.659,1.187167,103.300000,42627.966539,2454446.0,1155771.0,4075399.0,36.754946,17.307490,61.028464,107.384766
50,United States of America,334319.671,1.051750,99.799373,64949.439748,2175313.0,8362644.0,48133177.0,6.506686,25.013915,143.973512,113.202330
51,Viet Nam,95776.716,1.826750,108.797175,2715.275874,408729.0,47788.0,4971673.0,4.267519,0.498952,51.908994,88.841150
53,Zimbabwe,15354.608,1.027500,519.876942,1497.738092,1393.0,742.0,194412.0,0.090722,0.048324,12.661476,36.444140

<a id='step3'></a>
# Step 3: Choosing a model

Our chosen model is that of multiple linear regression.   

In our model, we hypothesize that the protein supplied to people in a country is represented by the function $\hat{y}$ as follows:

$$\hat{y}(x) =  \hat{\beta}_0 + \hat{\beta}_1 x_1 + \hat{\beta}_2 x_2 + \ldots + \hat{\beta}_n x_n$$  

#### <center> OR </center>  

$$\mathbf{\hat{y}} = \mathbf{X} \times \mathbf{\hat{b}}$$

The cost function of our model is the following, which is derived from the sum of squared errors, i.e $\frac{1}{2}$MSE:
$$J(\hat{\beta}_0, \hat{\beta}_1) = \frac{1}{2m}\Sigma^m_{i=1}\left(\hat{y}(x^i)-y^i\right)^2$$

Using calculus to minimize our cost J against $\hat{\beta}$, we can derive our gradient descent update equation as the following:
$$ \mathbf{\hat{b}} = \mathbf{\hat{b}} - \alpha\frac{1}{m} \mathbf{X}^T \times (\mathbf{X}\times \mathbf{\hat{b}} - \mathbf{y}) $$

With this, we get a column vector of $\hat{\beta}$ for our multiple linear regression model which best fits our data.  
  
To check if we have sufficiently minimized our cost, we can plot our cost at iteration, J, against iteration number.

In [ ]:
def calc_linear(X, beta):
    return np.matmul(X, beta)

def compute_cost(X, y, beta):
    J = 0
    m = X.shape[0]
    error = calc_linear(X, beta) - y
    error_sq = np.matmul(error.T, error)
    J = (1/(2*m))*error_sq
    J = J[0][0]
    return J

def gradient_descent(X, y, beta, alpha, num_iters):
    m = X.shape[0] 
    J_storage = np.zeros((num_iters, 1))
    
    for i in range(num_iters):
        beta = beta - (alpha / m) * np.matmul(X.T, (calc_linear(X, beta) - y))
        J_storage[i] = compute_cost(X, y, beta)
    return beta, J_storage

<a id='step4'></a>
# Step 4: Training

<a id='step5'></a>
# Step 5: Evaluation

Metrics wise there are 3 that works in linear regression (excluding their upgraded variations that work in multiple linear regression):
- R squared (Linear Regression only) —> Adjusted R squared (Both Single and Multiple Linear Regression)
- Mean Squared Error (MSE) —> Root Mean Squared Error (RMSE) (i.e just corrected for the squaring of error)
- Mean Absolute Error (MAE)

MSE, RMSE and MAE measure the error of the model against the actual data. All 3 metrics range from 0 to $\infty$, and is negatively-oriented (i.e the lower it is the better).
  
## R-Squared
R squared measures the fit of the model by explaining how much of a variation of a dependent variable is explainable by independent variable in regression model. R squared only works on single linear regression, as it increases or remains the same, making the model seem like a better fit than it actually is.

Instead, we use **Adjusted R-Squared** which adjusts for degree of freedom of data, and is unaffected by irrelevant predictors. 
$$ R^2_{\mathrm{adj}} = 1 - \frac{\mathrm{RSS}/(n-p)}{\mathrm{TSS}/(n-1)} $$

Adjusted R-Squared is positive-oriented (i.e higher is better fit), and ranges from 0 to 1.  

## Mean Squared Error
MSE and RMSE are the same in distribution, but RMSE is scaled down in value. 

Mean Squared Error = Mean of squared error = $ \frac{1}{n}\sum_{i=1}^{n}(\hat{y}(x^i)-y_i)^2 $  
Root Mean Squared Error = $ \sqrt{MSE} $
  
MSE and RMSE are sensitive to outliers. This is as it gives higher weight to larger errors (residuals), and is better used when large errors are particularly undesirable. 
* Since we desire to minimize RMSE, we want to over represent large errors.

This is sensitivity is due to the squaring of the errors, which we can see mathematically from how:
$$ (\frac{b}{a})^2 > \frac{b}{a} \text{, where b is the large error and a is the small error}$$


## Mean Absolute Error
MAE = Mean of absolute error = $\frac{1}{n}\sum_{i=1}^{n}|\hat{y}(x^i)-y_i|$
MAE treats every error equally and just finds their average.  

However, absolute values are undesirable in mathematics as absolute value is a piecewise function which are subject to both algebra and a geometric interpretation of piecewise graph.

$$ \lvert x \rvert = \left\{
        \begin{array}{ll}
            -x & \quad x < 0 \\
            x & \quad x \geq 0
        \end{array}
    \right. $$

## Choice of Metric: RMSE
Given our model of protein supply is worse off having larger errors due to outliers in the data, as well as the ease of mathematical calculations, we will be choosing RMSE as our main metric.

Adjusted R-Squared will be used to further evaluate the fit of our model.


References: 
* [Medium: RMSE vs MAE - Which metric is better](https://medium.com/human-in-a-machine-world/mae-and-rmse-which-metric-is-better-e60ac3bde13d#:~:text=RMSE%20has%20the%20benefit%20of,then%20MAE%20is%20more%20appropriate.)
* [Medium: Comparing robustness of MAE, MSE and RMSE](https://towardsdatascience.com/comparing-robustness-of-mae-mse-and-rmse-6d69da870828)

In [ ]:
def r2_score(y, ypred):
    y_mean = y.mean()
    ss_res = np.sum((y - ypred)**2)
    ss_tot = np.sum((y - y_mean)**2)
    return 1 - ss_res/ss_tot



def mean_squared_error(target, pred):
    n = target.shape[0]
    rss = np.sum((target - pred)**2)
    mse = rss / n
    return mse

def root_mean_squared_error(target, pred):
    return sqrt(mean_squared_error(target, pred))

<a id='step6'></a>
# Step 6: Parameter Tuning
Predicted vs actual graphs so can tell relationships and evalute model.  
  
## Residual plots
Residual = actual y - predicted y  
  
Residual Plot is a plot of predicted y against standardized residual.

# Hyperparameters to change
* Alpha in gradient descent - i.e steps  
* Iterations in gradient descent  
* Starting guesses for $\hat{b}$, the column vector containing $\beta_i$

<a id='step7'></a>
# Step 7: Prediction

Use model to guess protein supply per capita given a set of predictor values.
  
Covariance of the protein supply against the different predictors can help us determine the relationship of the predictor to the protein supply.

<a id='modelimp'></a>
# Model Improvements
## Improvement 1: Removal of outliers
From our data, we can see certain countries protein supply are far from the median.  
Examples include: .... countries ....   
  
We can arbitarily define outliers as protein supply values less than (Q1 - 1.5 IQR) or protein supply values more than (Q3 + 1.5 IQR). The functions to find these are defined below.
  
This has two implications that allows us to get a better model:  
1. Our chosen cost metric, RMSE, is more sensitive to extreme values. By removing outliers, we can lower our RMSE.
2. Our cost function J is equal to $\frac{1}{2}$ MSE which like RMSE is sensitive to outliers.

We can also plot the outliers with a box and whiskers plot.

# Improvement 2: Removal of irrelevant / low correlation predictors  
  
Based on our graphs, we will be removing ________ as our predictor(s).

In [ ]:
def quartile_1(df, target):
    return

def quartile_3(df, target):
    return

def iqr(target):
    return quartile_3(df, target) - quartile_1(df, target)

def remove_outliers(df, target):
    """ 
    Returns a new dataframe with the outliers row removed.  
    """
    return df_new